@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
}

canvas {
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Lobster', cursive;
	font-family: 'New Tegomin', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Pacifico', cursive;
	font-family: 'Train One', cursive;
	font-family: 'Yatra One', cursive;
}
